body {
  font-size: 16px;
  color: black;
  font-family: 'PT Sans', sans-serif;
}

#header-nav {
	background-color: black;
	border-radius: 0;
	border: 0;
	color: white;
}

#logo-img {
	background: url('../images/logo.PNG') no-repeat;
	width: 350px;
	height: 283px;
	margin: 0px auto;
}

.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: black;
	color: white;
	border-radius: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

#last-logo {
	background: url('../images/lastlogo.png') no-repeat;
	width: 250px;
	height: 250px;
	margin: -35px auto -25px;
	padding: 0 20px;
}

.container-1 {
	border: 1px solid black;
	margin: 0px auto;
	width: 75%;
	text-align: center;
}

.flex-blackjack-row1, .flex-blackjack-row2, .flex-blackjack-row3 {
	display: flex;
	border: 1px solid black;
	padding: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.flex-blackjack-row1, .flex-blackjack-row2 {
	background: url('https://sironatherapeutichorsemanship.files.wordpress.com/2017/09/plain-green-background-wallpaper-3.jpg?w=900') center;
	color: white;
}

.flex-blackjack-row1 div {
	border: 1px solid black;
	padding: 10px;
	height: 450px;
	flex: 1;
	text-align: center;
}

.flex-blackjack-row1 img {
	width: 25%;
	padding: 10px;
}

.flex-blackjack-row2 button {
	border: 1px solid black;
}

.flex-blackjack-row2 div {
	border: 1px solid black;
	padding: 10px;
}

table, th, td {
	padding: 5px;
	border: 1px solid black;
}

hr {
	width: 85%;
}

#howtoplay {
	margin: 0px auto;
	width: 75%;
	font-size: 20px;
}

.spcolor {
	color: red;
}

#howtoplay h2 {
	font-weight: 600;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
		background: url('../images/logo-medium.png') no-repeat;
		width: 300px;
		height: 243px;
	}
	#last-logo {
		background: url('../images/lastlogo-med.png') no-repeat;
		width: 200px;
		height: 200px;
	}
	#blackjack-result, #player {
		font-size: 27px;
	}
	.flex-blackjack-row1 div {
		height: 410px;
		padding: 5px;
	}
	.flex-blackjack-row2 div {
		border: 1px solid black;
		padding: 5px;
	}
	#blackjack-hit-button, #blackjack-stand-button, #blackjack-deal-button {
		font-size: 17px;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#logo-img {
		background: url('../images/logo-small.png') no-repeat;
		width: 270px;
		height: 218px;
	}
	#last-logo {
		background: url('../images/lastlogo-small.png') no-repeat;
		width: 170px;
		height: 170px;
	}
	#blackjack-result, #player {
		font-size: 24px;
	}
	.flex-blackjack-row1 div {
		height: 300px;
		padding: 4px;
	}
	.flex-blackjack-row2 div {
		border: 1px solid black;
		padding: 4px;
	}
	#blackjack-hit-button, #blackjack-stand-button, #blackjack-deal-button {
		font-size: 16px;
	}
	table {
		font-size: 13px;
	}
	.ca {
		font-size: 1.3em;
	}
	#howtoplay p, ul {
		font-size: 0.9em;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	#logo-img {
		background: url('../images/logo-xs.png') no-repeat;
		width: 210px;
		height: 170px;
	}
	#last-logo {
		background: url('../images/lastlogo-xs.png') no-repeat;
		width: 110px;
		height: 110px;
		margin: -30px auto -15px;
	}
	#blackjack-result, #player {
		font-size: 21px;
	}
	.flex-blackjack-row1 div {
		height: 280px;
		padding: 1px;
	}
	.flex-blackjack-row2 div {
		border: 1px solid black;
		padding: 1px;
	}
	#blackjack-hit-button, #blackjack-stand-button, #blackjack-deal-button {
		font-size: 14px;
	}
	table {
		font-size: 11px;
	}
	.ca {
		font-size: 1.2em;
	}
	#howtoplay p, ul {
		font-size: 0.8em;
	}
}

/********** Ultra small devices only **********/

@media (max-width: 280px) {
	#blackjack-hit-button, #blackjack-stand-button, #blackjack-deal-button {
		font-size: 11px;
	}
}
